<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomai.geek">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.GeekApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DayTheme">

        <!--Activity Start-->
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".article.view.ArticleCategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".article.view.ArticleListActivity"
            android:screenOrientation="portrait" />
        <!--Activity End-->

        <!--Service Start-->
        <service android:name=".application.InitializeService" />
        <!--Service End-->
    </application>

</manifest>